p, label, input{
    font-family: monospace;
    font-size: 0.875em;
}

/* COLUMNAS Y ROWS */
.cont-acceder{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card {
    height: auto;
    width: 500px;
    min-width: 250px;
    background-color: var(--withe);
    text-align: center;
    padding: 25px;
    border: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-tittle-desc{
    width: 100%;
    text-align: start;
}

.cont-qa{
    display: flex;
    flex-direction: column;
}

.info-card:hover{
    transform: none;
}

.btn-blue{
    border-radius: 4px;
    width: 100%;
    margin: 25px 0 10px 0;
}

.acceder-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 0 0 5em;
}

.cont-label-input{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
}

input, select, textarea {
    width: 1px;
    appearance: none;
    background-color: white;
    color: black;
    border: none;
    outline: none;
}