.cont-top-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
}

.btn{
    border-radius: 0;
}

.btn-category{
    background-color: var(--withe);
    color: var(--dark-gray);
    border: 1px solid var(--gray);
}

.btn-category:hover{
    background-color: var(--gray);
}

.btn-blue{
    background-color: var(--blue);
    color: var(--withe);
}

.btn-blue:hover{
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.cont-btns-acciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-btns-acciones form {
    width: 50px;
}

.btn-main-menu{
    padding: 10px;
    text-align: left;
    color: azure;
}

.btn-main-menu {
    display: block;
    background: var(--main-background);
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background 0.3s;
    margin-left: 50px;
}

.btn-main-menu:hover {
    background-color: #131313;
}

.btn-return{
    margin: 0;
    margin-left: -15px
}

.div-log-out{
    width: 90%;
    height: 50px;
    border: 1px solid #ff0000;
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;             
    align-items: center;        
    justify-content: center;   
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
}

.btn-log-out{
    color: #ff0000;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    background-color: var(--navbar-background);
    border-radius: 100px;
}

.div-login-register{
    width: 90%;
    height: 50px;
    border: 1px solid var(--class-name);
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;             
    align-items: center;        
    justify-content: center; 
    text-align: center;  
    color: var(--class-name);
    font-size: 20px;
    text-decoration: none;
}

.btn-login-register{
    color: var(--class-name);
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    background-color: var(--navbar-background);
    border-radius: 100px;
}

.btn-blocked{
    pointer-events: none;
    opacity: 0.6;
}