.cont-top-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
}

.btn{
    border-radius: 0;
}

.btn-category{
    background-color: var(--withe);
    color: var(--dark-gray);
    border: 1px solid var(--gray);
}

.btn-category:hover{
    background-color: var(--gray);
}

.btn-blue{
    background-color: var(--blue);
    color: var(--withe);
}

.btn-blue:hover{
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.cont-btns-acciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cont-btns-acciones form {
    width: 50px;
}

.btn-main-menu{
    padding: 10px;
    text-align: left;
    color: azure;
}

.btn-main-menu {
    display: block;
    background: #1e1e1e;
    border: 1px solid #444;
    padding: 10px;
    border-radius: 8px;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background 0.3s;
    margin-left: 50px;
}

.btn-main-menu:hover {
    background: #333;
}
.btn-main-menu {
    display: block;
    background-color: #1f1f1f;
    border: 1px solid #444;
    padding: 12px;
    border-radius: 10px;
    font-family: 'Courier New', monospace;
    color: #eaeaea;
    text-decoration: none;
    margin-bottom: 15px;
    transition: background 0.3s;
}

.btn-main-menu:hover {
    background-color: #2c2c2c;
}

.btn-return{
    margin: 0;
    margin-left: -15px
}