@import url('variables.css');

/* GENERALES */
body {
    display: flex;
    height: 100vh;
    background-color: var(--light-gray);
    color: var(--light-gray);
}

main{
    height: 100%;
    width: 100%;
    background-color: var(--dark-gray-2);
}

/* NAVBAR */
.navbar{
    background-color: var(--dark-gray-3);
    color: var(--dark-gray);
    border-bottom: 1px solid var(--dark-gray-3);
}

/* COLUMNAS Y ROWS */
.cont-main{
    margin-top: 70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px;
}

.cont-top-directions{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: left;
}

.windows-name{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
}

.direction-name{
    font-size: 1.0em;
    font-weight: 500;
    color: var(--dark-gray);
    margin: 0;
    padding: 0;
}

.direction-icon{
    font-size: 0.7em;
    font-weight: 500;
    color: var(--dark-gray);
}


/* Vertical Navbar */

.vertical-navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 450px;
}

.img-perfil {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.cont-btns-menu{
    padding: 0 400px;
}

/* programing style */

.line {
    display: block;
    font-family: monospace;
    line-height: 1.6;
}

.keyword {
    color: var(--keyword); /* azul claro */
}

.class-name {
    color: var(--class-name);
}

.function-name {
    color: var(--function-name); /* azul más intenso */
}

.parameter {
    color: var(--parameter) /* gris azulado */
}

.return {
    color: var(--return);
}

.comment {
    color: var(--comment);
    font-style: italic;
}

.grouping_symbols{
    color: var(--grouping_symbols);
}

.string {
    color: var(--string);
}

.tab{
    padding-left: 25px;
}
