:root {
    --dark-blue: #1677d1;
    --blue: #1890ff;
    --light-blue: #e8f4ff;

    --dark-gray: rgba(33, 37, 41, 0.75);
    --gray: #e9ecef;
    --light-gray: #f8f9fa;
    --withe: #fff;

    --dark-gray-2: rgb(31, 31, 31);
    --dark-gray-3: rgb(24, 24, 24);

    --class-green: #4EC9B0;
    --def-blue: #569CD6;
    --variable-light-blue:#9CDCFE;
    --def-yellow: #DCDCAA;

    --keyword: #569cd6;
    --function-name: #dcdcaa;
    --class-name: #4cc1a9;
    --parameter: #9cdcfe;
    --comment: #ce9178;
    --string: #ce9178;    
    --return: #ce92a4;
    --grouping_symbols: #ffd700;

    --main-background: rgb(8, 8, 8);
    --navbar-background: rgb(12, 12 ,12);
  }
  