{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

<!-- Estilos css personalizados por página -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/techs.css') }}">
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
<div class="container-fluid cont-main">
    <div class="row gx-0">

        {% if user_winner %}
        <h3>Victoria</h3>
        {% else %}

        <form class="tech-form" action="/techs" method="POST">
            <h2>Introduce la tech del día</h2>
            <input class="inp-tech" name="tech" type="text">
            <input type="submit">
        </form>

        {% endif %}
        <form action="/reset_game">
            <input type="submit" value="Reset">
        </form>
        <div>
            <h3>Attempts: {{ attempts }}</h3>
        </div>
        <table class="table text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Tipo</th>
                    <th>Año de publicación</th>
                    <th>Paradigma/Enfoque</th>
                    <th>Empresa/Comunidad</th>
                    <th>Uso principal</th>
                </tr>
            </thead>
            <tbody>
                {% for tech in guessed_techs_data | reverse %}
                <tr>
                    {% for key in ['name', 'category', 'type', 'release_year', 'paradigm', 'company', 'uses'] %}
                    {% set data = tech.comparison[key] %}
                    <td style="color: {{ 'green' if data.match else 'red' }};">{{ data.input }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- JavaScript personalizado por página -->
{% block js %}
<script src="{{ url_for('static', filename='js/swal-login-response.js') }}"></script>
{% endblock %}