{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}

<!-- Estilos css personalizados por página -->
{% block css %}
{% endblock %}

<!-- Contenido principal de la página -->
{% block content %}
<div class="container-fluid cont-main">
    <div class="row gx-0">
        <div class="cont-btns-menu">

            <a class="btn btn-main-menu" href="{{ url_for('main.daily_tech') }}">
                <div class="line">
                    <span class="keyword">def</span> <span class="function-name">daily_tech</span>(<span
                        class="parameter">self</span>):
                </div>
                <div class="tab">
                    <div class="line comment">"""Esta es la descripción de la tarea."""</div>
                    <div class="line">
                        <span class="keyword">return</span> <span class="function-name">render_template</span>(<span
                            class="string">'daily_tech.html'</span>)
                    </div>
                </div>

            </a>

            <a class="btn btn-main-menu" href="{{ url_for('main.daily_tech') }}">
                <div class="line">
                    <span class="keyword">def</span> <span class="function-name">daily_tech</span>(<span
                        class="parameter">self</span>):
                </div>
                <div class="tab">
                    <div class="line comment">"""Esta es la descripción de la tarea."""</div>
                    <div class="line">
                        <span class="keyword">return</span> <span class="function-name">render_template</span>(<span
                            class="string">'daily_tech.html'</span>)
                    </div>
                </div>

            </a>

            <a class="btn btn-main-menu" href="{{ url_for('main.daily_tech') }}">
                <div class="line">
                    <span class="keyword">def</span> <span class="function-name">daily_tech</span>(<span
                        class="parameter">self</span>):
                </div>
                <div class="tab">
                    <div class="line comment">"""Esta es la descripción de la tarea."""</div>
                    <div class="line">
                        <span class="keyword">return</span> <span class="function-name">render_template</span>(<span
                            class="string">'daily_tech.html'</span>)
                    </div>
                </div>

            </a>

            <a class="btn btn-main-menu" href="{{ url_for('main.daily_tech') }}">
                <div class="line">
                    <span class="keyword">def</span> <span class="function-name">daily_tech</span>(<span
                        class="parameter">self</span>):
                </div>
                <div class="tab">
                    <div class="line comment">"""Esta es la descripción de la tarea."""</div>
                    <div class="line">
                        <span class="keyword">return</span> <span class="function-name">render_template</span>(<span
                            class="string">'daily_tech.html'</span>)
                    </div>
                </div>

            </a>

            <form action="/reset_game">
                <input type="submit" value="Reset">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- JavaScript personalizado por página -->
{% block js %}
<script src="{{ url_for('static', filename='js/swal-login-response.js') }}"></script>
{% endblock %}